USE [master]
GO
/****** Object:  Database [Gestion_Veterinaria_PRO]    Script Date: 27/6/2025 01:01:44 ******/
CREATE DATABASE [Gestion_Veterinaria_PRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestion_Veterinaria_PRO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gestion_Veterinaria_PRO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestion_Veterinaria_PRO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gestion_Veterinaria_PRO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestion_Veterinaria_PRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestion_Veterinaria_PRO]
GO
/****** Object:  Table [dbo].[Dueños]    Script Date: 27/6/2025 01:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dueños](
	[IDDueño] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [bigint] NOT NULL,
	[Apellido] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
	[Direccion] [nvarchar](100) NOT NULL,
	[Telefono] [bigint] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDueño] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecialidadesVeterinarios]    Script Date: 27/6/2025 01:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecialidadesVeterinarios](
	[IDEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[NombreEspecialidad] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especies]    Script Date: 27/6/2025 01:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especies](
	[IDEspecie] [int] IDENTITY(1,1) NOT NULL,
	[NombreEspecie] [nvarchar](100) NOT NULL,
	[Caracteristicas] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEspecie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreEspecie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoTurnos]    Script Date: 27/6/2025 01:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoTurnos](
	[IDEstadoTurno] [int] IDENTITY(1,1) NOT NULL,
	[TipoEstado] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEstadoTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TipoEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriasClinicas]    Script Date: 27/6/2025 01:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriasClinicas](
	[IDRegistro] [int] IDENTITY(1,1) NOT NULL,
	[NroHistoriaClinica] [int] NOT NULL,
	[IDTurno] [int] NOT NULL,
	[FechaHoraCita] [datetime] NOT NULL,
	[Sintomas] [nvarchar](255) NOT NULL,
	[Diagnostico] [nvarchar](255) NOT NULL,
	[Tratamiento] [nvarchar](255) NOT NULL,
	[Medicacion] [nvarchar](255) NULL,
	[Observaciones] [nvarchar](255) NULL,
	[FechaRegistro] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mascotas]    Script Date: 27/6/2025 01:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascotas](
	[NroHistoriaClinica] [int] IDENTITY(1,1) NOT NULL,
	[IDDueño] [int] NOT NULL,
	[IDRaza] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Sexo] [nvarchar](20) NOT NULL,
	[Color] [nvarchar](30) NOT NULL,
	[Peso] [decimal](5, 2) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NroHistoriaClinica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Razas]    Script Date: 27/6/2025 01:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Razas](
	[IDRaza] [int] IDENTITY(1,1) NOT NULL,
	[IDEspecie] [int] NOT NULL,
	[NombreRaza] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRaza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRaza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IDEspecie] ASC,
	[NombreRaza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turnos]    Script Date: 27/6/2025 01:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos](
	[IDTurno] [int] IDENTITY(1,1) NOT NULL,
	[FechaHoraTurno] [datetime] NOT NULL,
	[NroHistoriaClinica] [int] NOT NULL,
	[IDVeterinario] [int] NOT NULL,
	[MotivoConsulta] [nvarchar](300) NOT NULL,
	[IDEstadoTurno] [int] NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/6/2025 01:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[contrasenia] [varchar](100) NOT NULL,
	[tipoUsuario] [varchar](50) NULL,
 CONSTRAINT [PK_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veterinarios]    Script Date: 27/6/2025 01:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veterinarios](
	[IDVeterinario] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [bigint] NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](100) NOT NULL,
	[Telefono] [bigint] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatriculaNacional] [bigint] NOT NULL,
	[MatriculaProvincial] [bigint] NOT NULL,
	[IDEspecialidad] [int] NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVeterinario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MatriculaProvincial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MatriculaNacional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dueños] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Dueños] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[HistoriasClinicas] ADD  DEFAULT (getdate()) FOR [FechaHoraCita]
GO
ALTER TABLE [dbo].[HistoriasClinicas] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[HistoriasClinicas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Mascotas] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Mascotas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Turnos] ADD  DEFAULT (getdate()) FOR [FechaHoraTurno]
GO
ALTER TABLE [dbo].[Turnos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Turnos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Veterinarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Veterinarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[HistoriasClinicas]  WITH CHECK ADD FOREIGN KEY([IDTurno])
REFERENCES [dbo].[Turnos] ([IDTurno])
GO
ALTER TABLE [dbo].[HistoriasClinicas]  WITH CHECK ADD FOREIGN KEY([NroHistoriaClinica])
REFERENCES [dbo].[Mascotas] ([NroHistoriaClinica])
GO
ALTER TABLE [dbo].[Mascotas]  WITH CHECK ADD FOREIGN KEY([IDDueño])
REFERENCES [dbo].[Dueños] ([IDDueño])
GO
ALTER TABLE [dbo].[Mascotas]  WITH CHECK ADD FOREIGN KEY([IDRaza])
REFERENCES [dbo].[Razas] ([IDRaza])
GO
ALTER TABLE [dbo].[Razas]  WITH CHECK ADD FOREIGN KEY([IDEspecie])
REFERENCES [dbo].[Especies] ([IDEspecie])
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD FOREIGN KEY([IDEstadoTurno])
REFERENCES [dbo].[EstadoTurnos] ([IDEstadoTurno])
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD FOREIGN KEY([IDVeterinario])
REFERENCES [dbo].[Veterinarios] ([IDVeterinario])
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD FOREIGN KEY([NroHistoriaClinica])
REFERENCES [dbo].[Mascotas] ([NroHistoriaClinica])
GO
ALTER TABLE [dbo].[Veterinarios]  WITH CHECK ADD FOREIGN KEY([IDEspecialidad])
REFERENCES [dbo].[EspecialidadesVeterinarios] ([IDEspecialidad])
GO
ALTER TABLE [dbo].[Dueños]  WITH CHECK ADD CHECK  (([Dni]>(0)))
GO
ALTER TABLE [dbo].[Dueños]  WITH CHECK ADD CHECK  (([Telefono]>(0)))
GO
ALTER TABLE [dbo].[Mascotas]  WITH CHECK ADD CHECK  (([Peso]>(0)))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([tipoUsuario]='veterinario' OR [tipoUsuario]='secretario'))
GO
ALTER TABLE [dbo].[Veterinarios]  WITH CHECK ADD CHECK  (([MatriculaNacional]>(1)))
GO
ALTER TABLE [dbo].[Veterinarios]  WITH CHECK ADD CHECK  (([MatriculaProvincial]>(1)))
GO
ALTER TABLE [dbo].[Veterinarios]  WITH CHECK ADD CHECK  (([Telefono]>(0)))
GO
ALTER TABLE [dbo].[Veterinarios]  WITH CHECK ADD CHECK  (([Dni]>(0)))
GO
USE [master]
GO
